@import "tailwindcss";

:root {
  font-family: 'JetBrains Mono', Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  background-color: transparent;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.file-list::-webkit-scrollbar {
  width: 8px;
}

.file-list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.file-list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.file-list::-webkit-scrollbar-track {
  background-color: transparent;
}